header {
  width: 100vw;
  background-color: #ffffff;
  height: 15vw;
  border-bottom: hsl(168, 72%, 87%) solid 3px;
  top:0;
  overflow:visible;
}

#navlogo {
  display:block;
  width: 30vw;
  margin-left: auto;
  margin-right: auto;
  padding:0;
}

.nav{
  margin-left: 5vw;
  margin-right: 5vw;
}

.nav li{
display: inline-block;
color: hsl(8, 59%, 41%);
padding-left: auto;
padding-right: auto;
margin-left: auto;
margin-right: auto;
width: 20vw;
border: none;
text-align: center;
line-height: 40px;
}

#cakes {
  position:relative;
}

.nav li:hover {
background-color: #ffffff;
color: #422910;
}

.dropdowncakes {
  display:none;
  position:absolute;
  padding:0;
  margin:0;
  background-color: #ffffff;
  border: brown;
  color: brown;
}

#cakes:hover .dropdowncakes {
  display: block;
  z-index: 2;
}

.dropdowncakes li {
  max-width: 100%;
}

.dropdowncakes li:hover{
  text-decoration: underline;
}

#homepage_image {
  width: 100vw;
}

main {
  margin-left: 15%;
  margin-right: 15%;
}

footer {
  width: 100vw;
  background-color: #ffffff;
  height: 15vw;
  border-top: hsl(168, 72%, 87%) solid 3px;
}

.footer_information {
color: hsl(8, 59%, 41%);
right: 0;
border: none;
text-align: right;
line-height: 40px;
}
